* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    padding: 0 4rem;
    justify-content: space-between;
    margin-top: 1.5rem;
    position: fixed;
    font-size: 20px;
}

.model ul {
    display: flex;
    list-style: none;
}

.model ul li {
    padding: 0 1rem;
}
.model a{
    text-decoration: none;
    color: #000;
}

.Content {
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.Content .carName {
    margin-top: 7rem;
    text-align: center;
}

.Content .carName h1 {
    font-size: 3rem;
}

.Content .twoOption {
    padding-top: 23rem ;
    margin-bottom: 2rem;
}
.Content .twoOption a{
    text-decoration: none;
    padding: 1rem 3rem;
    margin-right: 1rem;
    border-radius: 3rem; 
}
.Content .twoOption a:first-of-type {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.Content .twoOption a:last-of-type {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);

}
.black{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.Content .twoOption a {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.arrow {
    text-align: center;
}

.arrow img {
    width: 50px;
    height: 60px;
}

.sider {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    padding: 3rem 2rem;
    background-color: #fff;
    list-style: none;
    font-size: 30px;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
}

.sider li {
    padding: 0.5rem 0;
}

.sider a {
    padding: 1rem 0;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.Mahendra {
    position: absolute;
    margin-right: 1rem;
    margin-top: 1rem;
    top: 0;
    right: 0;
}
.Mahendra:hover{
    transform: rotate(360deg);
    transition: all 1s ease;
}
@media all and (max-width: 1500px){
    .model ul {
        flex-wrap: wrap;
    }   
}
@media all and (max-width:550px){
    .Content .carName  {
        padding: 5rem 0 0 0;
    }   
    .Content .twoOption a{
        flex-wrap: wrap;
    }
}
@media all and (max-width:460px){
    .Content .carName  {
        padding: 10rem 0 0 0;
    }   
    .Content .twoOption a{
        flex-wrap: wrap;
    }
}